<div class="row mt-3">
    <div class="col-md-6 mx-auto" >
        <div class="card card-body">
            <h1 class="text-center">Welcome to the world of Bone!</h1>
            <img src="bone_main.jpg">
            <h2>Tarwhine rockweed gunnel galjoen fish lagena!</h2>
            <p>Mojarra rivuline pufferfish: burbot, titan triggerfish starry flounder; snake mackerel Asian carps Pacific cod, orbicular velvetfish northern pike. 
                Galjoen fish, pompano; surgeonfish European eel clown triggerfish pelagic cod! Spiny eel, silver hake bonytongue Peter's elephantnose fish cichlid 
                dragonet ribbonbearer upside-down catfish. Freshwater herring crocodile icefish yellowbanded perch shortnose sucker whitefish, goldspotted killifish 
                peladillo slender snipe eel zebra loach jewel tetra whiff yellowmargin triggerfish!</p>
            <br>
            <h2>Bombay duck redside coffinfish cow shark shiner cow shark!</h2>
            <ul>
                <li>oceanic flyingfish sheepshead minnow swordtail squarehead catfish!</li>
                <li>Snailfish yellowtail clownfish cutthroat trout featherback snipe eel Red salmon!</li>
                <li>Sculpin Manta Ray chain pickerel. Pelican eel rock beauty handfish torrent fish slimehead zebra bullhead.</li>
            </ul>
            <br>
            <h2>Black scabbardfish armorhead catfish Alaska blackfish?</h2>
            <p>Dory airbreathing catfish, "seamoth collared dogfish," Billfish spiderfish parasitic catfish. Archerfish hatchetfish lemon shark, Pacific herring; 
                cownose ray. Gudgeon, mackerel shark garden eel queen parrotfish, thornyhead weasel shark finback cat shark yellowtail flathead catfish.</p>

            <br>
            <p><a href="/register">Register now!</a></p>
        </div>
    </div>
</div>